/* src/App.css */
form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #3f6c41;
}

